.lineTitle{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 104px;
    background-color:#555;
    animation-duration: 1s;
    animation-name: lineShoswTitle;
    animation-fill-mode: forwards;
}
@keyframes lineShoswTitle {
  from {
    opacity: 0;
    right: -1000px;
  }
  to { 
    opacity: 1;
    right: 0px;
  }
}


.kmpw-p {
    font-size: 1.3em;
}
.icon1{
    position: relative;
    animation-duration: 3s;
    animation-name: show1;
    animation-fill-mode: forwards;
}
@keyframes show1 {
    from {
      opacity: 1;
      right: 1000%
    }
    to { 
      opacity: 1;
      right: 0px;
    }
  }

  .icon2{
    position: relative;
    animation-duration: 3s;
    animation-name: show2;
    animation-fill-mode: forwards;
}
@keyframes show2 {
    from {
      top: -1000%
    }
    to { 
      top: 0px;
    }
  }

  .icon3{
    position: relative;
    animation-duration: 3s;
    animation-name: show3;
    animation-fill-mode: forwards;
}
@keyframes show3 {
    from {
      
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }

  .icon4{
    position: relative;
    animation-duration: 3s;
    animation-name: show4;
    animation-fill-mode: forwards;
}
@keyframes show4 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon5{
    position: relative;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-name: show5;
    animation-fill-mode: forwards;
}
@keyframes show5 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon5{
    position: relative;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-name: show5;
    animation-fill-mode: forwards;
}
@keyframes show5 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon6{
    position: relative;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-name: show6;
    animation-fill-mode: forwards;
}
@keyframes show6 {
    from {
      left: -10000px;
    }
    to { 
     
      left: 0px;
    }
  }

  .icon7{
    position: relative;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-name: show7;
    animation-fill-mode: forwards;
}
@keyframes show7 {
    from {
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }

  .icon8{
    position: relative;
    animation-delay: 0.6s;
    animation-duration: 3s;
    animation-name: show8;
    animation-fill-mode: forwards;
}
@keyframes show8 {
    from {
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }

  .icon9{
    position: relative;
    animation-delay: 0.6s;
    animation-duration: 3s;
    animation-name: show9;
    animation-fill-mode: forwards;
}
@keyframes show9 {
    from {
      left: -10000px;
    }
    to { 
     
      left: 0px;
    }
  }

  .icon10{
    position: relative;
    animation-delay: 0.8s;
    animation-duration: 3s;
    animation-name: show10;
    animation-fill-mode: forwards;
}
@keyframes show10 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon11{
    position: relative;
    animation-delay: 0.8s;
    animation-duration: 3s;
    animation-name: show11;
    animation-fill-mode: forwards;
}
@keyframes show11 {
    from {
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }
  .icon12{
    position: relative;
    animation-delay: 0.8s;
    animation-duration: 3s;
    animation-name: show12;
    animation-fill-mode: forwards;
}
@keyframes show12 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon13{
    position: relative;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: show13;
    animation-fill-mode: forwards;
}
@keyframes show13 {
    from {
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }
  .icon14{
    position: relative;
    animation-delay: 1.2s;
    animation-duration: 3s;
    animation-name: show14;
    animation-fill-mode: forwards;
}
@keyframes show14 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon15{
    position: relative;
    animation-delay: 1.3s;
    animation-duration: 3s;
    animation-name: show15;
    animation-fill-mode: forwards;
}
@keyframes show15 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }

  .icon15{
    position: relative;
    animation-delay: 1.4s;
    animation-duration: 3s;
    animation-name: show15;
    animation-fill-mode: forwards;
}
@keyframes show15 {
    from {
      bottom: -10000px;
    }
    to { 
     
      bottom: 0px;
    }
  }
  .icon16{
    position: relative;
    animation-delay: 1.4s;
    animation-duration: 3s;
    animation-name: show16;
    animation-fill-mode: forwards;
}
@keyframes show16 {
    from {
      right: -10000px;
    }
    to { 
     
      right: 0px;
    }
  }