.modalBackground{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    opacity: 0;
    background-color:#f1ede3;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100%;
    animation-name: backOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes backOpen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.modal {

    padding: 50px 40px;
    display: inline-block;
    height: auto;
    width: 30%;
    margin: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    min-width: 300px;
    box-shadow: rgb(85, 85, 85) 0px 0px 5px;
    border-radius: 5px;
    justify-self: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.modal img {
    width: 300px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.descriptionModal{
    text-align: left;
    font-size: 2em;
}

.lineModal{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 6px;
    width: 104px;
}

@media (max-width: 600px) {

    .modal {
        
        font-size: 0.8em;
        margin: 0;
    }

    .modal img {
        width: 200px;
    }

    }