.skills .progress {
    height: 50px;
    display: block;
    background: none;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-size: 1.6em;
    
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: rgba(0, 0, 0, 0.15);
  }
  
  .skills .progress-bar {
    width: 0%;  
    height: 15px;
    background-color: #555;
    
  }

  .html{
    animation-name: progresHtml;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresHtml{
      from{
        width: 0%;
      }
      to{
        width: 100%;
      }
  }

  .css{
    animation-name: progresCss;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresCss{
      from{
        width: 0%;
      }
      to{
        width: 90%;
      }
  }

  .javascript{
    animation-name: progresJavascript;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresJavascript{
      from{
        width: 0%;
      }
      to{
        width: 75%;
      }
  }

  .php{
    animation-name: progresPhp;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresPhp{
      from{
        width: 0%;
      }
      to{
        width: 65%;
      }
  }

  .react{
    animation-name: progresReact;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresReact{
      from{
        width: 0%;
      }
      to{
        width: 75%;
      }
  }

  .node{
    animation-name: progresNode;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes progresNode{
      from{
        width: 0%;
      }
      to{
        width: 65%;
      }
  }