.lineTitle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 104px;
    background-color:#555;
    animation-duration: 1s;
    animation-name: lineShoswTitle;
    animation-fill-mode: forwards;
    
  }
  @keyframes lineShoswTitle {
  from {
    opacity: 0;
    right: -1000px;
  }
  to { 
    opacity: 1;
    right: 0px;
  }
  }

  .infoContact{
      font-size: 1.2em;
  }

  .iconSocialNet1{
    opacity: 0;
    animation: shIcon1 1s forwards 4s;
  }
  @keyframes shIcon1{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .iconSocialNet2{
    opacity: 0;
    animation: shIcon2 1s forwards 4.5s;
  }
  @keyframes shIcon2{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .iconSocialNet3{
    opacity: 0;
    animation: shIcon3 1s forwards 5s;
  }
  @keyframes shIcon3{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .iconSocialNet4{
    opacity: 0;
    animation: shIcon4 1s forwards 5.5s;
  }
  @keyframes shIcon4{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .style-toast-ok-light{
    background-color:#fffcf2;
    color: #555;
    border-radius: 25px;
  }

  .style-toast-ok-darck{
    background-color:  #0f182b;
    color:  #d87093;
    border-radius: 25px;
  }

  .style-toast-error-light{
    background-color:#555;
    color: #fffcf2;
    border-radius: 25px;
  }

  .style-toast-error-darck{
    background-color:   #d87093;
    color: #0f182b;
    border-radius: 25px;
  }

  .inForm-light {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    width: 100%;
    background-color: transparent;
  }
  .inForm-light:focus{
    background-color: #fffcf2;
  }
  .inForm-darck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    width: 100%;
    background-color: transparent;
  }
  .inForm-darck:focus{
    background-color: #0f182b;
  }
  .texA{
    height: 80px;
  }

  textarea:focus, input:focus{ 
    outline: none;
    
  } 