.footContent {
  padding-top: 30px;
  height: 100%;
  background-color:#555;
  color:#f1ede3;   
  
}
P{
    font-size: 1em;
    color:#f1ede3   
}

a p{
    font-size: 0.9em;
}
.about {
    margin-bottom: 20px;
    text-align: left;
   
}
.links{
    
}
.logo{
   
    margin-left: auto;
    margin-right: auto;
}