.divIntro{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: 1000;
    background-color:#f1ede3;
    opacity: 1;
   
}
.logoIntro{
  position: relative;
  margin-top: 30vh;
  z-index: 1010;
  
}

.logoIntro img{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
}
.logoimg{
  opacity: 0.5;
  position: relative;
  width: 100%;
  height: auto;
  animation-name: showLogo,hidde;
  animation-delay: 0s,1.5s;
  animation-duration: 1s,1s;
  animation-fill-mode: forwards;
}

@keyframes showLogo{
  from{

    left:-1300px
  }
  to{

    left: 150px
  }
}

@keyframes showLogo599{
  from{

    left:-1300px
  }
  to{

    left: 135px
  }
}
@keyframes showLogo539{
  from{
    left:-1300px
  }
  to{

    left: 120px
  }
}
@keyframes showLogo480{
  from{
    left:-1300px
  }
  to{

    left: 75px
  }
}

.logoimg2{
  position: absolute;
  opacity: 0.5;
  position: relative;
  width: 100%;
  height: auto;
  animation-name: showLogo2,hidde;
  animation-delay: 0s,1.5s;
  animation-duration: 1s,1s;
  animation-fill-mode: forwards;
}

@keyframes showLogo2{
  from{
    right:-1300px
  }
  to{

    right: 150px
  }
}

@keyframes showLogo2599{
  from{
    right:-1300px
  }
  to{

    right: 135px
  }
}

@keyframes showLogo2539{
  from{
    right:-1300px
  }
  to{

    right: 120px
  }
}

@keyframes showLogo2480{
  from{
    right:-1300px
  }
  to{

    right: 75px
  }
}

@keyframes hidde{
  from{
    opacity: 1;
  }
  to{

    opacity: 0;
  }
 
}
//media
@media (max-width: 991px) {
 .divIntro{
      min-height: 102.8vh;
    }
  }


  @media (max-width: 599px) {

    .logoIntro img{
          max-width: 270px;
       }

       .logoimg{

        animation-name: showLogo599,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }

       .logoimg2{

        animation-name: showLogo2599,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }
   
  }

  @media (max-width: 539px) {

    .logoIntro img{
          max-width: 240px;
       }

       .logoimg{

        animation-name: showLogo539,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }

       .logoimg2{

        animation-name: showLogo2539,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }
   
  }

  @media (max-width: 480px) {

    .logoIntro img{
          max-width: 150px;
       }

       .logoimg{

        animation-name: showLogo480,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }

       .logoimg2{

        animation-name: showLogo2480,hidde;
        animation-delay: 0s,1.5s;
        animation-duration: 1s,1s;
        animation-fill-mode: forwards;
       }
   
  }

  