
.ico{
    cursor: pointer;
}
.IconOpen {
    display: block;
    width: 500px;
    margin-left: -250px;
    height: 500px;
    margin-top: -250px;
    background-color: red;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    animation-name: cloudOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;   
}

.IconClose{

    opacity: 0;
    width: 500px;
    margin-left: -250px;
    height: 500px;
    margin-top: -250px;
    background-color: red;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    animation-name: cloudclose;    
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes cloudOpen{
    from{
        opacity: 0;
        top: -50%;
    }
    to{
        opacity: 1;
        top: 50%;
    }
}

@keyframes cloudclose {
    from{
        opacity: 1;
        top: 50%;
    }
    to{
        opacity: 0;
        top: -50%;
    }
}


.backOpen {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    animation-name: backOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 99; 
}

.backClose{

  
    display: none;
    
}

@keyframes backOpen{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.4;
    }
}

@keyframes backClose {
    from{
        opacity: 0.4;
    }
    to{
        opacity: 0;
    }
}

