$light: #f1ede3;
$light-2: #555;
$light-3: #DA8508;
$light-btn: #fffcf2;

//$darck: #555;
//$darck-2: #f1ede3;
$darck: #080d17;
$darck-2: #d87093;
$darck-3: #1C3958;
$darck-btn: #0f182b;

$greem:  #81d3a7;

$greem: #6fc7d8