.footIcon {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 60px;
    width: 55px;
    z-index: 1000;
    border-top-left-radius: 50px;
    cursor: url(../static/click-light.cur), pointer;
} 
.footIcon img {
    position: relative;
    top: 15px;
    right: -4px;

}
.footerDivOpen  {

    position:fixed;
    bottom:0px;
    min-height: auto;
    width: 100%;
    z-index: 1000;
    animation-name: footerOpen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

  }

  @keyframes footerOpen {
  
    from {  
      display: none;
      bottom: -1000px;
    }
    to {    
      display: inline-block;
      bottom: 0px;
    }
  }

  .footerDivClose {
    display: none;
    position:absolute;
    bottom:0px;
    min-height: auto;
    width: 100%;
    z-index: 1000;
    
  }
  .closeFooterOpen{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    
  }
  .closeFooterOpen {
    background-color: black;
    opacity: 0.3;
    display: block;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    
  }
  .closeFooterClose{
    display: none;
  }