.footIcon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60px;
    width: 55px;
    z-index: 1000;
    background-color: #555;
    border-top-left-radius: 50px;
    cursor: pointer;
}
.footIcon img {
    position: relative;
    top: 15px;
    right: -4px;
    
}
.footerDiv  {
    position:absolute;
    bottom:0px;
    min-height: auto;
    width: 100%;
    z-index: 1000;
    animation-name: footerOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes footerOpen {
  
    from {
     
      height: 0px;
    }
    to { 
     
      height: auto;
    }
  }